body {
    background-color: #ddddcc;
}

.hdr {
    color: #454545;
    font-size: 50px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.col {
    padding: 3px;
}

#keyboard {
    margin-top: 50px;
}
